.main_vbox{
   -fx-background-image: url("images/login_background.jpg");
   -fx-background-repeat: stretch;
   -fx-background-size: cover;
   -fx-background-position: center center;
}
.main_button {
    -fx-background-color: black;
    -fx-background-radius: 30; /* Adjust the value to control the curvature */
    -fx-border-radius: 30; /* Same value as background-radius for a consistent curve */
    -fx-border-color: black;
    -fx-text-fill: white; /* Text color */
    -fx-font-size: 18px; /* Adjust font size as needed */
    -fx-font-weight: bold; /* Adjust font weight as needed */
    -fx-padding: 10px 20px; /* Adjust padding as needed */
    -fx-min-width: 150;
    -fx-min-height: 30;
}